In [20]:
import pandas as pd

In [21]:
df_produtos = pd.read_csv("dados/dados.csv", sep=";")
df_produtos

       Produto   Categoria  Preço  Quantidade  Data_Venda
0       Camisa      Roupas   50.0          10  01/01/2023
1        Calça      Roupas  100.0          15  02/01/2023
2         Saia      Roupas   80.0          20  03/01/2023
3     Camiseta      Roupas   45.0          30  04/01/2023
4      Jaqueta      Roupas  120.0           5  05/01/2023
5      Vestido      Roupas   90.0          12  06/01/2023
6      Bermuda      Roupas   60.0          18  07/01/2023
7       Sapato    Calçados  150.0           7  08/01/2023
8     Sandália    Calçados   70.0          25  09/01/2023
9        Tênis    Calçados  200.0           8  10/01/2023
10       Botas    Calçados  180.0           6  11/01/2023
11     Mochila  Acessórios   70.0          15  12/01/2023
12       Cinto  Acessórios   40.0          22  13/01/2023
13      Óculos  Acessórios  120.0          10  14/01/2023
14     Relógio  Acessórios  250.0           4  15/01/2023
15      Brinco  Acessórios   35.0          30  16/01/2023
16       Blusa      Roupas   55.0          14  17/01/2023
17      Shorts      Roupas   65.0          19  18/01/2023
18      Suéter      Roupas   95.0           9  19/01/2023
19  Saia longa      Roupas   75.0          11  20/01/2023

In [22]:
df_produtos.head(8)#Primeiras 8 linhas

    Produto Categoria  Preço  Quantidade  Data_Venda
0    Camisa    Roupas   50.0          10  01/01/2023
1     Calça    Roupas  100.0          15  02/01/2023
2      Saia    Roupas   80.0          20  03/01/2023
3  Camiseta    Roupas   45.0          30  04/01/2023
4   Jaqueta    Roupas  120.0           5  05/01/2023
5   Vestido    Roupas   90.0          12  06/01/2023
6   Bermuda    Roupas   60.0          18  07/01/2023
7    Sapato  Calçados  150.0           7  08/01/2023

In [23]:
df_produtos.tail(8) #Ultimos 8 registros

       Produto   Categoria  Preço  Quantidade  Data_Venda
12       Cinto  Acessórios   40.0          22  13/01/2023
13      Óculos  Acessórios  120.0          10  14/01/2023
14     Relógio  Acessórios  250.0           4  15/01/2023
15      Brinco  Acessórios   35.0          30  16/01/2023
16       Blusa      Roupas   55.0          14  17/01/2023
17      Shorts      Roupas   65.0          19  18/01/2023
18      Suéter      Roupas   95.0           9  19/01/2023
19  Saia longa      Roupas   75.0          11  20/01/2023

In [24]:
df_produtos.shape#(linhas, colunas)

(20, 5)

In [25]:
df_produtos.dtypes#Verifica os tipos de dados

Produto        object
Categoria      object
Preço         float64
Quantidade      int64
Data_Venda     object
dtype: object

In [26]:
df_produtos.sort_values(by='Quantidade', ascending=False) #Ordena pela quantidade de produtos em ordem decrescente

       Produto   Categoria  Preço  Quantidade  Data_Venda
3     Camiseta      Roupas   45.0          30  04/01/2023
15      Brinco  Acessórios   35.0          30  16/01/2023
8     Sandália    Calçados   70.0          25  09/01/2023
12       Cinto  Acessórios   40.0          22  13/01/2023
2         Saia      Roupas   80.0          20  03/01/2023
17      Shorts      Roupas   65.0          19  18/01/2023
6      Bermuda      Roupas   60.0          18  07/01/2023
1        Calça      Roupas  100.0          15  02/01/2023
11     Mochila  Acessórios   70.0          15  12/01/2023
16       Blusa      Roupas   55.0          14  17/01/2023
5      Vestido      Roupas   90.0          12  06/01/2023
19  Saia longa      Roupas   75.0          11  20/01/2023
0       Camisa      Roupas   50.0          10  01/01/2023
13      Óculos  Acessórios  120.0          10  14/01/2023
18      Suéter      Roupas   95.0           9  19/01/2023
9        Tênis    Calçados  200.0           8  10/01/2023
7       Sapato    Calçados  150.0           7  08/01/2023
10       Botas    Calçados  180.0           6  11/01/2023
4      Jaqueta      Roupas  120.0           5  05/01/2023
14     Relógio  Acessórios  250.0           4  15/01/2023

In [27]:
df_produtos['Categoria'].values #Verifica os valores únicos da coluna Categoria

array(['Roupas', 'Roupas', 'Roupas', 'Roupas', 'Roupas', 'Roupas',
       'Roupas', 'Calçados', 'Calçados', 'Calçados', 'Calçados',
       'Acessórios', 'Acessórios', 'Acessórios', 'Acessórios',
       'Acessórios', 'Roupas', 'Roupas', 'Roupas', 'Roupas'], dtype=object)