In [1]:
import pandas as pd

In [4]:
df_produtos = pd.read_csv("dados/dados.csv", sep=';')
df_produtos

       Produto   Categoria  Preço  Quantidade  Data_Venda
0       Camisa      Roupas   50.0          10  01/01/2023
1        Calça      Roupas  100.0          15  02/01/2023
2         Saia      Roupas   80.0          20  03/01/2023
3     Camiseta      Roupas   45.0          30  04/01/2023
4      Jaqueta      Roupas  120.0           5  05/01/2023
5      Vestido      Roupas   90.0          12  06/01/2023
6      Bermuda      Roupas   60.0          18  07/01/2023
7       Sapato    Calçados  150.0           7  08/01/2023
8     Sandália    Calçados   70.0          25  09/01/2023
9        Tênis    Calçados  200.0           8  10/01/2023
10       Botas    Calçados  180.0           6  11/01/2023
11     Mochila  Acessórios   70.0          15  12/01/2023
12       Cinto  Acessórios   40.0          22  13/01/2023
13      Óculos  Acessórios  120.0          10  14/01/2023
14     Relógio  Acessórios  250.0           4  15/01/2023
15      Brinco  Acessórios   35.0          30  16/01/2023
16       Blusa      Roupas   55.0          14  17/01/2023
17      Shorts      Roupas   65.0          19  18/01/2023
18      Suéter      Roupas   95.0           9  19/01/2023
19  Saia longa      Roupas   75.0          11  20/01/2023

In [ ]:
df_produtos.dtypes

In [5]:
df_produtos ['Quantidade'] = pd.to_numeric(df_produtos['Quantidade'])
df_produtos['Preço'] = pd.to_numeric(df_produtos['Preço'])

In [6]:
#criar uma cópia do dataframe
vendas_categoria = df_produtos.groupby(['Categoria'])[['Quantidade', 'Preço']].sum()
vendas_categoria

            Quantidade  Preço
Categoria
Acessórios          81  515.0
Calçados            46  600.0
Roupas             163  835.0

In [12]:
# Qual foi o produto mais vendido?
produto_mais_vendido = df_produtos.groupby('Produto')['Quantidade'].sum().idxmax()
#idmax() retorna o índice do maior valor
produto_mais_vendido

'Brinco'

In [13]:
#Total de unidades vendidas por produto
produto_mais_vendido = df_produtos.groupby(['Produto'])[['Quantidade']].sum()
produto_mais_vendido

            Quantidade
Produto
Bermuda             18
Blusa               14
Botas                6
Brinco              30
Calça               15
Camisa              10
Camiseta            30
Cinto               22
Jaqueta              5
Mochila             15
Relógio              4
Saia                20
Saia longa          11
Sandália            25
Sapato               7
Shorts              19
Suéter               9
Tênis                8
Vestido             12
Óculos              10

In [14]:
#Preço médio por produto
media_preco_produto = df_produtos.groupby(['Produto'])[['Preço']].mean()
media_preco_produto

            Preço
Produto
Bermuda      60.0
Blusa        55.0
Botas       180.0
Brinco       35.0
Calça       100.0
Camisa       50.0
Camiseta     45.0
Cinto        40.0
Jaqueta     120.0
Mochila      70.0
Relógio     250.0
Saia         80.0
Saia longa   75.0
Sandália     70.0
Sapato      150.0
Shorts       65.0
Suéter       95.0
Tênis       200.0
Vestido      90.0
Óculos      120.0

In [ ]:
#Correlação entre Unidades Vendidas e Preço Unitário
correlacao = df_produtos['Quantidade'].corr(df_produtos['Preço'])
correlacao
# Quer dizer que quanto mais unidades vendidas, maior o preço unitário? Não necessariamente. A correlação não implica causalidade.
# Pode ser que o preço unitário seja maior para produtos que são vendidos em menor quantidade.

np.float64(-0.7228821786680254)

In [28]:
vendas_categoria = df_produtos.groupby('Categoria')['Quantidade'].sum()
vendas_categoria_df = vendas_categoria.reset_index()
vendas_categoria_df.columns = ['Categoria', 'Unidades Vendidas']

In [29]:
vendas_categoria_df

    Categoria  Unidades Vendidas
0  Acessórios                 81
1    Calçados                 46
2      Roupas                163

In [30]:
vendas_categoria_df.to_csv('dados/vendas_categoria.csv', sep=';', index=False)
# Exportando o dataframe para um arquivo CSV