In [11]:
import pandas as pd
import openpyxl

In [2]:
dados = {
    'Time': ['Flamengo', 'Fluminense', 'Vasco', 'Botafogo', 'Corinthians'],
    'Partidas_Jogadas': [10, 10, 10, 10, 10],
    'Vitorias': [5, 3, 2, 4, 6],
    'Empates': [3, 4, 5, 2, 2],
    'Derrotas': [2, 3, 3, 4, 2],
    'Gols_Pro': [20, 15, 10, 12, 25],
    'Gols_Contra': [10, 12, 15, 10, 8],
}

In [5]:
df = pd.DataFrame(dados)
df

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra
0,Flamengo,10,5,3,2,20,10
1,Fluminense,10,3,4,3,15,12
2,Vasco,10,2,5,3,10,15
3,Botafogo,10,4,2,4,12,10
4,Corinthians,10,6,2,2,25,8

In [6]:
df['Saldo_Gols'] = df['Gols_Pro'] - df['Gols_Contra']
df

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols
0,Flamengo,10,5,3,2,20,10,10
1,Fluminense,10,3,4,3,15,12,3
2,Vasco,10,2,5,3,10,15,-5
3,Botafogo,10,4,2,4,12,10,2
4,Corinthians,10,6,2,2,25,8,17

In [7]:
df['Pontos'] = (df['Vitorias'] * 3) + df['Empates'] * 1
df

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Flamengo,10,5,3,2,20,10,10,18
1,Fluminense,10,3,4,3,15,12,3,13
2,Vasco,10,2,5,3,10,15,-5,11
3,Botafogo,10,4,2,4,12,10,2,14
4,Corinthians,10,6,2,2,25,8,17,20

In [8]:
df = df.sort_values(by='Pontos', ascending=False)
df

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
4,Corinthians,10,6,2,2,25,8,17,20
0,Flamengo,10,5,3,2,20,10,10,18
3,Botafogo,10,4,2,4,12,10,2,14
1,Fluminense,10,3,4,3,15,12,3,13
2,Vasco,10,2,5,3,10,15,-5,11

In [12]:
df.to_excel('classificacao_campeonato.xlsx', index=False)