In [19]:
import pandas as pd

In [20]:
df = pd.read_excel("dados/classificacao_campeonato.xlsx")
df

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Corinthians,10,6,2,2,25,8,17,20
1,Flamengo,10,5,3,2,20,10,10,18
2,Botafogo,10,4,2,4,12,10,2,14
3,Fluminense,10,3,4,3,15,12,3,13
4,Vasco,10,2,5,3,10,15,-5,11

In [21]:
df.describe()

,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
count,5.0,5.000000,5.00000,5.00000,5.000000,5.000000,5.00000,5.000000
mean,10.0,4.000000,3.20000,2.80000,16.400000,11.000000,5.40000,15.200000
std,0.0,1.581139,1.30384,0.83666,6.107373,2.645751,8.38451,3.701351
min,10.0,2.000000,2.00000,2.00000,10.000000,8.000000,-5.00000,11.000000
25%,10.0,3.000000,2.00000,2.00000,12.000000,10.000000,2.00000,13.000000
50%,10.0,4.000000,3.00000,3.00000,15.000000,10.000000,3.00000,14.000000
75%,10.0,5.000000,4.00000,3.00000,20.000000,12.000000,10.00000,18.000000
max,10.0,6.000000,5.00000,4.00000,25.000000,15.000000,17.00000,20.000000

In [22]:
df.head(2)

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Corinthians,10,6,2,2,25,8,17,20
1,Flamengo,10,5,3,2,20,10,10,18

In [23]:
df.tail(2)

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
3,Fluminense,10,3,4,3,15,12,3,13
4,Vasco,10,2,5,3,10,15,-5,11

In [24]:
#Analise de desempenho por time
desempenho_info = df[["Time", "Pontos", "Vitorias", "Saldo_Gols"]].set_index("Time")
desempenho_info

             Pontos  Vitorias  Saldo_Gols
Time
Corinthians      20         6          17
Flamengo         18         5          10
Botafogo         14         4           2
Fluminense       13         3           3
Vasco            11         2          -5

In [25]:
#Time com mais vitorias e menos vitorias
time_mais_vitorias = df[df["Vitorias"] == df["Vitorias"].max()]
time_mais_vitorias

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Corinthians,10,6,2,2,25,8,17,20

In [26]:
#Time com mais vitorias e menos vitorias
time_mais_vitorias = df[df["Vitorias"] == df["Vitorias"].min()]
time_mais_vitorias

,Time,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
4,Vasco,10,2,5,3,10,15,-5,11

In [27]:
# Distribuição de Gols pró
df["Gols_Pro"].value_counts()

Gols_Pro
25    1
20    1
12    1
15    1
10    1
Name: count, dtype: int64

In [28]:
#Relação entre Gols Pro e pontos
correlacao = df["Gols_Pro"].corr(df['Pontos'])
correlacao

np.float64(0.9577302419246964)

In [29]:
# Distribuição de Gols contra
correlacao = df["Gols_Contra"].corr(df['Pontos'])
correlacao

np.float64(-0.8935086257186198)